.main{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.menu{
    justify-content: center;
}

.menu button {
    margin: 10px;
    width: 120px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
    transition: all 0.3s;
}

.menu button:hover {
    color: white;
    background-color: gray;
}

.isClicked {
    color: white;
    background-color: black !important;
}